---
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const publications = await getCollection('publications');
  return publications.map(entry => ({
    params: { publication: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<MainLayout title={entry.data.title} description={entry.data.description}>
  <article class="prose dark:prose-invert max-w-none">
    <h1>{entry.data.title}</h1>
    <Content />
  </article>
</MainLayout>