---
import Icon from './Icon.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
	iconName: string;
	valueToCopy: string;
}

const { iconName, valueToCopy, ...rest } = Astro.props;
---

<button class="contact-button" data-value={valueToCopy} {...rest}>
    <Icon name={iconName} bordered={true} />
    <span class="contact-value">{valueToCopy}</span>
</button>

<style>
    .contact-button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-fg);
        padding: 0;
        font-family: inherit;
    }

    .contact-value {
        display: none;
        font-weight: bold;
        font-size: 0.9rem;
    }

    @media (max-width: 992px) {
        .contact-button {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            width: 100%;
            gap: 1rem;
        }
        .contact-value {
            display: inline;
            text-align: left;
        }
    }

    .contact-button.press :global(.icon-wrapper) {
        animation: press 0.3s ease-out;
    }

    @keyframes press {
        0% { transform: scale(1); }
        50% { transform: scale(0.9); }
        100% { transform: scale(1); }
    }
</style>